.premium{
    background-color: rgb(29, 112, 206);
    color: white;
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.premium h1{
    font-size: 32px;
    font-weight: bold;
}
.premium h3{
    font-weight: 300;
}
.premium .all-buttons{
    display: flex;
    gap: 10px;
}
.start-button{
    background-color: rgb(17, 17, 17);
    color: white;
    width: 100%;
    border-radius: 100px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid black;
    padding: 12px 28px;
    cursor: pointer;
}
.start-button:hover{
    background-color: black;
    transform: scale(1.1);
}
.start-button2{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 100px;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 28px;
    cursor: pointer;
}
.start-button2:hover{
    background-color: rgb(30, 102, 190);
    transform: scale(1.1);
}
.premium footer p{
    font-size: 10px;
}
.premium footer p a{
    color: white;
}